@import 'variables';

.card-div {
    .buttons-div {
        .back-button {
            margin: 0 20px 0 0;
        }
    }

    .input-fields {
        display: flex;
        flex-direction: row;
        margin: 20px 0 0;

        .user-select,
        .users-select,
        .text-select,
        .class-select,
        .subject-select,
        .msg-data-select,
        .date-time-select {
            min-width: 150px;
            margin-right: 20px;
        }
    }
}
