@import 'variables';

.content {
    margin: {
        top: 15px;
        right: 25px;
    }
    display: flex;
    flex-direction: column;

    .actions-container {
        margin-bottom: 10px;

        .button-link {
            margin: 0 5px;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
        .confirm {
            box-shadow: $button-shadow;
        }
    }

    .addsubject-container {
        padding: 25px;
        box-shadow: $card-shadow;
        background-color: white;
        border-radius: 10px;

        .input-container {
            margin-top: 20px;
            display: flex;
            flex-direction: row;

            &:first-child {
                margin-top: 0;
            }

            .class-select {
                min-width: 120px;
                margin-left: 20px;
            }

            .years-container {
                margin-left: 20px;
                display: flex;
                flex-direction: row;

                .years-input {
                    min-width: 170px;

                    &:first-child {
                        margin-right: 5px;
                    }

                    &:last-child {
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 830px) {
    .content {
        padding: 20px;
        margin: {
            top: 25px;
            right: 0;
        }
        flex-direction: column-reverse;

        .actions-container {
            margin: {
                bottom: 0;
                top: 10px;
            }
        }

        .addsubject-container {
            .input-container {
                flex-direction: column;

                .class-select {
                    margin: {
                        left: 0;
                        top: 20px;
                    }
                    width: 100%;
                }

                .years-container {
                    margin: {
                        left: 0;
                        top: 20px;
                    }

                    .years-input {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 410px) {
    .content {
        .addsubject-container {
            .input-container {
                flex-direction: column;

                .years-container {
                    flex-direction: column;

                    .years-input {
                        width: 100%;
                        margin-top: 20px;

                        &:first-child {
                            margin-top: 0;
                            margin-right: 0;
                        }

                        &:last-child {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}
