@import 'variables';

.card {
    box-shadow: $card-shadow;
    max-width: 900px;
    min-height: 130px;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    cursor: pointer;
}

.dialog {
    .dialog-content {
        display: flex;
        flex-direction: row;

        & > *:nth-child(even) {
            margin-left: 10px;
        }

        & > *:nth-child(odd) {
            margin-right: 10px;
        }

        & > * {
            width: 100%;
        }

        .input-container {
            & > *:not(:first-child) {
                margin-top: 20px;
            }

            .message-dropzone {
                height: 100%;
            }
        }
    }

    .dialog-actions {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        margin-left: 0;
        width: 100%;
        margin-bottom: 15px;

        & > * {
            width: 100%;

            &:nth-child(even) {
                margin-left: 10px;
                margin-right: 15px;
            }

            &:nth-child(odd) {
                margin-left: 15px;
                margin-right: 10px;
            }
        }
    }
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .messages-container {
        min-width: 600px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;

        .filters-container {
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;

            .type-select,
            .status-select,
            .add-button {
                min-width: 130px;
                margin: 10px 0 20px;
            }

            .status-select,
            .add-button {
                margin-left: 20px;
                margin-right: 15px;
            }

            .add-button {
                border-radius: 5px;
            }
            .type-select {
                min-width: 130px;
                margin: 10px 20px 20px 0;
            }
        }
    }

    .statistics {
        box-shadow: $card-shadow;
        width: 330px;
        height: auto;
        border-radius: 10px;
        margin-top: 90px;
        margin-bottom: auto;

        :global .MuiCardHeader-content {
            .MuiCardHeader-title {
                font-weight: 600;
            }
        }
    }
}
