@import 'variables';

.content {
    margin-right: 25px;
    margin-top: 15px;

    .profile-container {
        padding: 25px;
        border-radius: 10px;
        background-color: white;
        box-shadow: $card-shadow;
        display: flex;
        flex-direction: row;
        margin-bottom: 25px;

        .avatar {
            width: 200px;
            height: 200px;
        }

        .profile-info {
            margin-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            & > * {
                word-break: break-word;
            }

            .record-message {
                margin-top: 10px;
            }

            .additional-info {
                margin-top: 5px;

                .additional-text {
                    display: flex;

                    svg {
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    .edit-fields {
        padding: 25px;
        border-radius: 10px;
        background-color: white;
        box-shadow: $card-shadow;
        margin-top: 20px;
        display: flex;
        flex-direction: row;

        .contract-type {
            width: 200px;
        }

        & > * {
            margin-right: 20px;
        }
    }

    .actions {
        margin: 20px 20px 0 0;
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width: 730px) {
    .content {
        margin-right: 0;
        padding: 25px 10px;

        .profile-container {
            flex-direction: column;
            align-items: center;

            .profile-info {
                align-items: center;
                margin-left: 0;

                .name {
                    margin: 10px 0;
                    text-align: center;
                }
            }
        }
        .edit-fields {
            flex-direction: column;

            & > * {
                margin-right: 0;
                margin-top: 20px;
            }
        }
    }
}
