@import 'variables';

.content {
    margin: {
        top: 15px;
        right: 25px;
    }
    display: flex;
    flex-direction: column;

    .grades-container {
        margin-top: 25px;
        padding: 25px 25px 5px;
        box-shadow: $card-shadow;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;

        .grade-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 20px;
            height: 35px;

            .grade-field {
                display: flex;
                flex-direction: row;
                align-items: center;
                overflow-x: auto;
                font-size: 16px;

                .grade {
                    cursor: default;
                    padding: 5px;
                    margin-right: 15px;
                }

                &.grade-field-name {
                    min-width: 190px;
                }

                &.grade-field-turm-1 {
                    min-width: 110px;
                }

                &.grade-field-turm-2 {
                    min-width: 110px;
                }

                &.grade-field-year {
                    min-width: 110px;
                    margin-right: 20px;
                }

                &.grade-field-grades {
                    min-width: 100%;
                }
            }
        }
    }

    .actions-container {
        margin-bottom: 10px;

        .generate-button {
            margin: 0 5px;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
        .confirm {
            box-shadow: $button-shadow;
        }
    }

    .generatetoken-container {
        padding: 25px;
        box-shadow: $card-shadow;
        background-color: white;
        border-radius: 10px;
        align-items: center;

        display: flex;
        flex-direction: row;

        .input-container {
            margin-top: 20px;
            display: flex;
            flex-direction: row;

            &:first-child {
                margin-top: 0;
            }

            .role-select {
                min-width: 120px;
            }

            .class-select {
                min-width: 120px;
            }

            & > * {
                &:first-child {
                    margin-left: 0;
                }

                margin-left: 20px;
            }
        }
    }

    .users-container {
        margin-top: 25px;

        .user-accordion {
            margin-bottom: 20px;
            box-shadow: $card-shadow;
            border-radius: 10px;
            padding: 10px;

            .accordion-summary {
                :global(.MuiAccordionSummary-content) {
                    & > * {
                        &:first-child {
                            margin-left: 0;
                        }
                        width: 100%;
                        margin-left: 20px;
                    }
                }
            }

            .accordion-details {
                display: flex;
                flex-direction: column;

                .details {
                    display: flex;
                    flex-direction: row;
                    margin-right: 35px;

                    & > * {
                        &:first-child {
                            margin-left: 0;
                        }
                        width: 100%;
                        margin-left: 20px;
                        word-break: break-word;
                    }
                }

                .button-view-more {
                    margin-top: 10px;
                    align-self: flex-end;
                }
            }
        }
    }
}

.add-grade-button {
    margin-left: auto;
}

.dialog {
    .dialog-content {
        display: flex;
        flex-direction: row;

        & > *:nth-child(even) {
            margin-left: 10px;
        }

        & > *:nth-child(odd) {
            margin-right: 10px;
        }

        & > * {
            width: 100%;
        }

        .input-container {
            .grade-options {
                margin-top: 10px;
                display: flex;
                flex-direction: row;

                .grade-w-words-select,
                .grade-select,
                .grade-type-select {
                    &:first-child {
                        margin-left: 0px;
                    }
                    margin-left: 10px;
                    width: 100%;
                }
            }
        }
    }

    .dialog-actions {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        margin-left: 0;
        width: 100%;
        margin-bottom: 15px;

        & > * {
            width: 100%;

            &:nth-child(even) {
                margin-left: 10px;
                margin-right: 15px;
            }

            &:nth-child(odd) {
                margin-left: 15px;
                margin-right: 10px;
            }
        }
    }
}

@media screen and (max-width: 730px) {
    .content {
        padding: 20px;
        margin: {
            top: 25px;
            right: 0;
        }
        flex-direction: column-reverse;

        .actions-container {
            margin: {
                bottom: 0;
                top: 10px;
            }
        }

        .generatetoken-container {
            .input-container {
                flex-direction: column;

                .role-select {
                    width: 100%;
                }

                .class-select {
                    width: 100%;
                }

                & > * {
                    &:first-child {
                        margin-top: 0;
                    }

                    margin-top: 20px;
                    margin-left: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .content {
        .users-container {
            .user-accordion {
                .accordion-summary {
                    :global(.MuiAccordionSummary-content) {
                        flex-direction: column;
                        & > * {
                            &:first-child {
                                margin-top: 0;
                            }

                            margin-left: 0;
                            margin-top: 10px;
                        }
                    }
                }

                .accordion-details {
                    .details {
                        flex-direction: column;

                        & > * {
                            &:first-child {
                                margin-top: 0;
                            }

                            margin-left: 0;
                            margin-top: 10px;
                        }
                    }

                    .button-view-more {
                        align-self: auto;
                    }
                }
            }
        }
    }
}
