@import 'variables';

.content {
    margin: {
        top: 15px;
        right: 25px;
    }
    display: flex;
    flex-direction: column;

    .actions-container {
        margin-bottom: 10px;

        .generate-button {
            margin: 0 5px;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
        .confirm {
            box-shadow: $button-shadow;
        }
    }

    .generatetoken-container {
        padding: 25px;
        box-shadow: $card-shadow;
        background-color: white;
        border-radius: 10px;
        align-items: center;

        display: flex;
        flex-direction: row;

        .input-container {
            display: flex;
            flex-direction: row;

            margin-left: 20px;
            &:first-child {
                margin-top: 0;
                margin-left: 0;
            }

            .role-select {
                min-width: 120px;
            }

            .class-select {
                min-width: 120px;
                margin-left: 20px;
            }
        }
    }
}

.display-users {
    padding: 25px 25px 0;
    margin: 25px 20px 20px 0;
    box-shadow: $card-shadow;
    background-color: white;
    border-radius: 10px;
}

.users-component {
    .main-data {
        align-items: center;
        .names {
            vertical-align: middle;
        }
        .role-text {
            vertical-align: middle;
        }
        display: flex;
        flex-direction: row;

        .user-accordion {
            width: 100%;

            margin-bottom: 20px;

            .accordion-summary {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;

                .names,
                .role-text,
                .email-text,
                .status {
                    margin-right: 20px;
                    padding: 5px 10px;
                }

                .names {
                    min-width: 280px;
                }

                .role-text {
                    min-width: 100px;
                }

                .email-text {
                    min-width: 230px;
                }
            }

            .accordion-details {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .details {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    .record-message {
                        margin-left: 20px;
                        word-wrap: break-word;
                        max-width: 480px;
                    }
                    .class {
                        margin-left: 10px;
                        min-width: 150px;
                    }

                    .years-experience {
                        margin-left: 10px;
                        min-width: 150px;
                    }

                    .contract-type {
                        margin-left: 20px;
                        min-width: 220px;
                    }

                    .education {
                        margin-left: 20px;
                        min-width: 150px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 730px) {
    .content {
        padding: 20px;
        margin: {
            top: 25px;
            right: 0;
        }
        flex-direction: column-reverse;

        .actions-container {
            margin: {
                bottom: 0;
                top: 10px;
            }
        }

        .generatetoken-container {
            .input-container {
                flex-direction: column;

                .role-select {
                    width: 100%;
                }

                .class-select {
                    margin: {
                        left: 0;
                        top: 20px;
                    }
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 410px) {
    .content {
        .generatetoken-container {
            .input-container {
                flex-direction: column;
            }
        }
    }
}
